layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:@zjstatus@/bin/zjstatus.wasm" {
                format_left   "{mode} #[fg=#7aa2f7,bold]{session}"
                format_center "{tabs}"
                format_right  ""
                format_space  ""

                border_enabled "false"

                mode_locked "#[fg=#1a1b26,bg=#7aa2f7,bold] LOCKED "
                mode_normal "#[fg=#1a1b26,bg=#9ece6a,bold] NORMAL "

                tab_normal "#[fg=#565f89] {index}:{name} "
                tab_active "#[fg=#c0caf5,bg=#3b4261,bold] {index}:{name} "
            }
        }
    }

    tab name="main" focus=true {
        pane
    }

    swap_floating_layout {
        floating_panes max_panes=1 {
            pane x="0%" y="0%" width="100%" height="100%"
        }
        floating_panes max_panes=2 {
            pane x="0%" y="0%" width="50%" height="100%"
            pane x="50%" y="0%" width="50%" height="100%"
        }
        floating_panes {
            pane x="0%" y="0%" width="100%" height="100%"
        }
    }
}
